body {
    margin: 0;
    padding: 0;
  }

img {
    height: 150px;
}

.hero {
    background-color: rgb(193, 253, 233);
    display: grid;
    height: 700px;
    width: 100%;
    gap: 5%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 250px 250px 100px;
    padding-bottom: 0;
}
.sun {
    grid-area: 1/ 2/ 2 / 3;
    padding: 15px;
    text-align: center;
}
.crow {
    grid-area: 1 / 3 / 3/ 4;
    padding: 25px;
    padding-top: 150px;
}
.cloud {
    grid-area: 1 / 1 / 2/ 2;
    padding: 100px;
    text-align: center;
}
.name {
    grid-area: 2 / 2 / 3/ 3;
    text-align: center;
}

.tree1 {
    padding: 20px;
    grid-area: 2 / 1 / 4 / 2;
    text-align: center;
}
.tree2 {
    padding: 20px;
    grid-area: 2 / 3 / 4 / 4;
    text-align: center;
    
}

.tree-image {
    padding: 20px;
    height: 100%;
    width: 80%;
}
.cloud-image {
    height: 100px;
    width: 150px;
}

.crow-image {
    height: 50px;
    width: 60px;
}

.sun-image {
    height: 150px;
    width: 150px;
}

.name > h1 {
    font-family: "Sacramento", cursive;
    font-size: 5.5rem;
    font-weight: 900;
    color: rgb(37, 163, 121);
    margin-bottom: 0;
    margin-top: 0;
}

.name >h2 {
    font-weight: 500;
    font-size: 2rem;
    color: rgb(37, 163, 121);
}

.Profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}

.profile-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.Profile > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: rgb(37, 163, 121);
}

.intro {
    height: 150px;
    width: 400px;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: serif;
    margin-top: 0;
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
    border: dotted rgb(231, 228, 228);
    width: 3.5%;
    border-width: 6px;
    border-top: none;
}
.My-key-skills {
    display: flex;
    margin-left: 25%;
    width: 50%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.skill {
    display: flex;
    flex: 1;
    height: 400px;
    justify-content: left;
    text-align: left;
}
.skill div {
    padding-top: 0;
}
.skill-image {
    height: 200px;
    width: 200px;
    margin-right: 50px;
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: rgb(37, 163, 121);
    padding-top: 0;
}

h3 {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(37, 163, 121);
    margin-bottom: 5px;
    margin-top: 0;
}

#resume {
    text-align: center;
}

.resume-button {
    margin-top: 50px;
    height: 40px;
    width: 160px;
    background-color:rgb(37, 163, 121);
    color: white;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 5%;
}

.resume-button:hover {
    background-color:rgb(6, 136, 105);
}

#resume-h3 {
    color: rgb(37, 163, 121);
}

.project {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 70%;
    margin-left: 15%;
}

.project1 {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: left;
    gap: 50px;
}

.project-image {
    height: 200px;
    width: 400px;
    margin-right: 50px;
    border: 5px solid rgb(37, 163, 121);
}

.project-description {
    display: block;
    text-align: center;
}
.project-link {
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5%;
    background-color: rgb(37, 163, 121);
    color: white;
    font-size: 1rem;
}

.project-link:hover {
    background-color:rgb(6, 136, 105);
}

.about {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    margin-top: 100px;
    height: 200px;
    width: 100%;
    background-color: rgb(37, 163, 121);
    text-align: center;
}

.footer-link {
    display: inline;
    margin: 10px;
    color: white;
}

.footer-link :hover {
    color: whitesmoke;
}

.footer-para {
    margin-top: 50px;
    color: white;
}

.footer-button {
    margin-top: 50px;
    height: 40px;
    width: 160px;
    background-color:rgb(37, 163, 121);
    color: white;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 10%;
    font-weight: 100;
}

@media (max-width: 800px) {
    .name > h1 {
        font-size: 3.5rem;
    }

    .project {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        width: 90%;
        margin-left: 5%;
    }
    .project1{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    
    .project-image {
        width: 95%;
        border: 5px solid rgb(37, 163, 121);
        margin-right: 0;
    }
    .My-key-skills {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
    .skill {
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: column;
        gap: 1px;
        align-items: center;
    }
    .footer-button {
        margin-top: 20px;
        height: 40px;
        width: 100px;
    }

    .footer-para {
        margin-top: 50px;
        color: white;
        font-size: 1rem;
    }

}